<p id="notice"><%= notice %></p>

<p>=><%= link_to "Edit", edit_user_path %></p>

<p><%= @user.username %> of <%= @user.city %> with an email of <%= @user.email %></p>
<% if @comments.present? %>
  <p><em><%= @comments.count %> comments.  <small>Last comment <%= time_ago_in_words(@comments.last.updated_at) %></small></em></p>
  <% @user.comments.each do |comment| %>
      <p><%= comment.description %></p>
  <% end %>  
<% else %>
  <p><em>I don't currently have comments</em></p>
<% end %>

<p>Go back <%= link_to "Home", users_path %></p>